/**
 * This css is responsible font size for all the pages
 * All the custom modification of font size for DL pages
 * Written by Lathangi Ganesh March 09, 2018
 */

body {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: 'Open Sans Condensed', sans-serif;
  /*font-family: georgia,"droid serif","Times New Roman",Times,serif;*/ /*Recommended by UWaterloo*/
  /*font-size: 0.95em;*/
  font-size: 1em;
  line-height: 1.42857143;
  color: #333;
}


input, textarea, select, a.button {
  /*font-family: georgia,"droid serif","Times New Roman",Times,serif;*/ /* Recommended by UWaterloo */
  font-family: 'Open Sans Condensed', sans-serif;
}

#islandora-solr-simple-search-form input, textarea {
  font-size: 1.2em;
}

#header, #footer-wrapper, #skip-link, ul.contextual-links, ul.links, ul.primary, .item-list .pager, div.field-type-taxonomy-term-reference, div.messages, div.meta, p.comment-time, table, .breadcrumb {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /*font-family: "BureauGrot Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif; */
  /*font-family: georgia,"droid serif","Times New Roman",Times,serif; */
  font-family: 'Open Sans Condensed', sans-serif;
}

.node .content {
  /*font-size: 1.071em;*/
  /*font-size: 0.95em;*/
  font-size: 1em;
}
