/**
 * This css is responsible for front page
 * All the custom modification of front page
 * Written by Lathangi Ganesh March 09, 2018
 */

#sidebar-second {
  width: 30%;
  margin-left: -30%;
  clear: none;
}
.sidebar-second #content {
  margin-right: 30%;
  margin-left: 0;
}

.one-sidebar #content {
  width: 70%;
}

#header div.section {
  max-width: 99%;
  margin: auto;
  max-width: 1290px;
}

div.section {
  max-width:1290px;
}

#main {
  max-width:1290px;
  min-height: 425px;
}

#main-menu {
  clear: both;
  background: #474746;
  max-width: 1290px;
  margin: auto;
}

/*********footer****************/
#footer-wrapper div.section {
  max-width: 1290px;
  margin: auto;
}

.footer_cus {
  /*width: 1290px;*/
  margin: auto;
  background: #474746;
  padding-top: 0px;
  padding-bottom: 30px;
}

#page-wrapper, #footer-wrapper {
  background-color: #fff;
}

#footer-wrapper {
  padding: 0px 0 16px;
  margin-top: -40px;
  background: #474746;
}

/***************featured************/

/*
#featured {
  font-size: 1.3em;
  line-height: 1.7;
  background: #ccc;
  text-shadow: unset;
  color: #fff;
  max-width: 100%;
}
*/

#featured {
    font-size: 1.3em;
    line-height: 1.7;
    background: #ccc;
    text-shadow: unset;
    color: #fff;
    max-width: 100%;
    border-bottom: none;
    padding: 0px;
    margin: auto;
    font-weight: normal;
}

#featured div.section {
  max-width:1290px;
}

/*********** general ******************/
.islandora-basic-collection-display-switch {
  float: right;
  display: none;
}

.social_link {
  display: none;
}

h1 #page-title {
  font-size: 20px;
  line-height: 1;
  padding-bottom: 0px;
}

.islandora-basic-collection-list-item dl dd {
  margin: 0 0 0 130px;
  text-align: justify;
}
/**************************************/

.islandora-basic-collection-list-item {
  padding-bottom: 0px;
  border-bottom: 1px solid #ddd;
}

.views_slideshow_controls_text span:hover {
  cursor: unset;
  text-decoration: none;
}

.views-field-field-slide-link {
  display:none;
}

#sidebar-first {
  width: 25%;
  margin-left: -96%;
}

#content {
 /* margin-right: 25%;*/
  margin-left: 0;
  border-right: 0px solid #eee;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.sidebar .block {
  border: 0px solid #eee;
  padding: 15px 20px;
  margin: 0 0 20px;
  /*border-bottom: 1px solid #d5d5d5;*/
  border-bottom: 0px solid #d5d5d5;
  border-radius: 0px;
  background: linear-gradient(to left, #fff, #fafafa);
}

.breadcrumb {
 display:none;
}

.fa:hover {
  background-color: #ccc;
  color: #000;
}

#main-wrapper {
  min-height: 525px;
}

#footer {
    text-align: center;
    margin: auto;
    border: none;
    color: #fff;
    max-width: 100%;
    padding-top: 1px;
}
