/**
 * This css is responsible the media(screen size)
 * All the custom modification of media realted css for all the pages
 * Written by Lathangi Ganesh March 09, 2018
 */

/**
  Suport for smaill devcies
 */

@media only screen and (max-width: 500px) {
  .views-field-field-slide-description {
    display:none;
  }

  .views-field-field-slide-title {
    display:none;
  }

  .breadcrumb {
    font-size: 0.929em;
    padding: 10px;
    border-bottom: 1px solid #ccc;
   }

  .views-slideshow-cycle-processed .views-slideshow-controls-bottom, .views-slideshow-cycle-processed .views-slideshow-controls-top {
    display: block;
    position: relative;
    z-index: 100;
    margin-top: -25px;
    text-align: right;
    width: 100%;
    margin-right: 5px;
  }

  #views_slideshow_slide_counter_slide_show-block_1 {
    display:none;
  }

  #featured {
    display:none;
  }

  #block-block-5 {
    display:none;
    /*margin-left: -300px;
    margin-top: -34px;*/
  }

  #content {
    width: 100%;
    margin-right: 0%;
  }

 .islandora-basic-collection-list-item dl dd {
    margin: 0 0 0px;
  }

  h1#page-title {
    font-size: 22px;
    line-height: 1;
    padding-bottom: 0px;
    padding-top: 20px;
  }

  .islandora img {
    max-width: 100%;
    *width: 100%;
    padding: 5px;
  }

} /*End of media*/
