/**
 * This css is responsible for social media links
 * All the custom modification of font size for DL pages
 * Written by Lathangi Ganesh March 09, 2018
 */

.social_link {
  float:right;
  margin-top: -25px;
}

.share li {
  display: inline;
  float: left;
  padding-right: 3px;
}

ul {
  padding:0;
  list-style: none;
}

.footer-social-ic {
  width: 350px;
  display:block;
  margin: 0 auto;
}

.social-ic {
  color: #fff;
}

ul.social-ic {
  margin-top: -32px;
  text-align:right;
}

.social-ic li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

.social-ic a {
  color: #fff;
  text-decoration: none;
}

.ic {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #dbdbdb;
  color:#000;
  border-radius: 3px;
}

.fa:hover {
  background-color: #000;
  color:#ffffff;
}

.fa-facebook {
  padding:5px 12px;
}

.fa-twitter {
  padding:5px 8px;
}

.fa-youtube {
  padding:5px 7px;
}

.fa-instagram {
  padding:5px 7px;
}

.fa-envelope {
  padding:5px 8px;
}

.fa-reddit-square {
  padding:5px 8px;
}

.fa-google-plus {
  padding:5px 8px;
}

.fa-linkedin {
  padding:5px 7px;
}

.social{
  margin-left: 299px;
}

.lib-word {
  margin-left: -132px;
}

.share l li a i {
  background-color: #000;
  border-radius: 3px;
  color: #878787;
  font-size: 2.02729rem;
  padding: 0.2rem;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: color, background-color;
}

.share {
  font-size: 20px;
}

/*social*/
.social_link {
  float: right;
  margin-top: -25px;
  /*padding: 20px;*/
}

.social_link {
  float: right;
  margin-top: -25px;
  padding-top: 20px;
}

